<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qc.system.mapper.RoleMapper">
    <!--保存角色和菜单的关系-->
    <insert id="saveRolePermission">
        INSERT INTO `sys_role_permission`(`rid`,`pid`) VALUES(#{roleId},#{pid})
    </insert>

    <!--根据角色ID删除角色和权限中间表的数据-->
    <delete id="deleteRolePermissionByRid">
        DELETE FROM `sys_role_permission` WHERE `rid`=#{id}
    </delete>

    <!--根据菜单或权限ID删除sys_role_permission里面的数据-->
    <delete id="deleteRolePermissionByPid">
        DELETE FROM `sys_role_permission` WHERE `pid`=#{id}
    </delete>

    <!--根据用户ID删除用户和角色的关系表的数据-->
    <delete id="deleteRoleUserByUserId">
        DELETE FROM `sys_role_user` WHERE `uid` = #{id}
    </delete>

    <!--根据用户ID删除用户和角色的关系表的数据-->
    <delete id="deleteRoleUserByRoleId">
        DELETE FROM `sys_role_user` WHERE `rid` = #{id}
    </delete>

    <!--查询当前用户已有的角色-->
    <select id="selectRoleIdsByUserId" resultType="java.lang.Integer">
        SELECT `rid` FROM `sys_role_user` WHERE `uid` = #{userId}
    </select>

</mapper>
