<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qc.system.mapper.UserMapper">

    <!--保存用户和角色之间的关系 操作sys_user_role-->
    <insert id="saveUserRole">
        INSERT INTO `sys_role_user`(`rid`,`uid`) VALUES(#{rid},#{userId})
    </insert>

    <select id="queryUserMaxOrderNum" resultType="java.lang.Integer">
        SELECT MAX(`ordernum`) FROM `sys_user`
    </select>
</mapper>